.form-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

form {
    background: #e0ddd5;
    border-radius: 10px;
    border: 5px solid #e0ddd5;
    width: 50%;
    padding: 15px;
    margin: 50px;
}
.column {
    width: 100%;
}
.two-columns {
    display: flex;
    flex-wrap: wrap;
}
.five-columns {
    display: flex;
    flex-wrap: wrap;
}

.one-column .item {

    box-sizing: border-box;
    color: #171e42;
    padding: 10px;
}

.two-columns .item {
    flex: 50%;
    box-sizing: border-box;
    color: #171e42;
    padding: 10px;
}
.five-columns .radio-button {
    flex: 25%;
    box-sizing: border-box;
    color: #171e42;
    padding: 10px;
    text-align: center;
}

.column input {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     color: black;
     border: none;
     border-radius: 10px;
     transition: box-shadow 0.5s ease-in-out;

 }

.column textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 8vw;
    box-sizing: border-box;
    color: black;
    border: none;
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in-out;

}

.column textarea:focus, input:focus {
    font-weight: bold;
    outline: none;

}

.column textarea:hover, input[type=text]:hover, input[type=number]:hover {
    box-shadow: 0px 0px 22px -2px #000000;
}

.button:hover {
    box-shadow: 0px 0px 22px -2px #000000;
}
.one-column .button {
    float: right;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 15px;
    padding: 15px 32px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;

}

textarea {
    font-family: inherit;
    font-size: inherit;
}
.error {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #f8d7da;
    color: #861c24;
    font-weight: bold;
    margin: 10px;
}

form > h1 {
text-align: center;
font-style: italic;

}

form > h3 {
    text-align: center;
    font-style: italic;
}
form > .separator {
    align-self: center;
    margin-bottom: 50px;
    width: 100%;
    height: 2px;
    background-color: #efefef;
}

/* Fruits */

.container-fruits {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-fruits h1 {
    text-align: center;
    width: 50%;
}

.fruit-item {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 50%;
    background-color: #efefef;
    border-color: #efefef;
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reset {
    border-color: #efefef;
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 50%;
    outline: none;
}

.container-fruits .fruit-item button {
    height: 34px;
    width: 50px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    text-align: center;
    align-self: center;
    margin: 10px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -2px #000000;
    outline: none;
}
.container-fruits p {
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
}